<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ClientDistrictMapper">

    <delete id="deleteRepeatData">
        DELETE t1
        FROM client_district t1
        INNER JOIN client_district t2
        WHERE
    t1.user_id = t2.user_id AND
    t1.business_district_id = t2.business_district_id AND
    t1.id > t2.id
    </delete>

</mapper>