<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MeasureMapper">

    <resultMap type="Measure" id="MeasureResult">
        <result property="id"    column="id"    />
        <result property="designId"    column="designId"    />
        <result property="measureType"    column="measureType"    />
        <result property="fileUrl"    column="fileUrl"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="createTime"    />
        <result property="upTime"    column="upTime"    />
        <result property="designName"    column="designName"    />
        <result property="creatorNeme"    column="creatorNeme"    />

    </resultMap>

    <sql id="selectMeasureVo">
        select id, designId, measureType, fileUrl, creator, createTime, upTime from measure
    </sql>

    <select id="selectMeasureList" parameterType="Measure" resultMap="MeasureResult">
        select a.id, a.designId, a.measureType, a.fileUrl, a.creator, a.createTime, a.upTime,b.nick_name as designName , c.nick_name as creatorNeme from measure	 a
        left join sys_user b on b.user_id = a.designId
        left join sys_user c on c.user_id = a.creator
        <where>
            <if test="designId != null "> and a.designId = #{designId}</if>
            <if test="measureType != null "> and a.measureType = #{measureType}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and a.fileUrl = #{fileUrl}</if>
            <if test="creator != null  and creator != ''"> and a.creator = #{creator}</if>
            <if test="createTime != null "> and a.createTime = #{createTime}</if>
            <if test="upTime != null "> and a.upTime = #{upTime}</if>
        </where>
        order by a.createTime desc
    </select>

    <select id="selectMeasureById" parameterType="Long" resultMap="MeasureResult">
        select a.id, a.designId, a.measureType, a.fileUrl, a.creator, a.createTime, a.upTime,b.nick_name as designName , c.nick_name as creatorNeme from measure	 a
        left join sys_user b on b.user_id = a.designId
        left join sys_user c on c.user_id = a.creator
        where a.id = #{id}
    </select>

    <insert id="insertMeasure" parameterType="Measure" useGeneratedKeys="true" keyProperty="id">
        insert into measure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="designId != null">designId,</if>
            <if test="measureType != null">measureType,</if>
            <if test="fileUrl != null">fileUrl,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">createTime,</if>
            <if test="upTime != null">upTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="designId != null">#{designId},</if>
            <if test="measureType != null">#{measureType},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="upTime != null">#{upTime},</if>
         </trim>
    </insert>

    <update id="updateMeasure" parameterType="Measure">
        update measure
        <trim prefix="SET" suffixOverrides=",">
            <if test="designId != null">designId = #{designId},</if>
            <if test="measureType != null">measureType = #{measureType},</if>
            <if test="fileUrl != null">fileUrl = #{fileUrl},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="upTime != null">upTime = #{upTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMeasureById" parameterType="Long">
        delete from measure where id = #{id}
    </delete>

    <delete id="deleteMeasureByIds" parameterType="String">
        delete from measure where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
